<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Toyota Titán modósító adatlap</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body style="background-color:#09203C" class="text-white">

<div class="container">

    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post"
                  th:action="@{/car-toyota/update}">
                <div class="form-group">
                    <label for="model">Toyota Titán modósító adatlap</label>
                </div>
                <div class="form-group">
                    <label for="model">ID</label>
                    <input type="text"
                           id="Id"
                           name="Id"
                           readonly
                           class="form-control"
                           th:value="${car.Id}"/>
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text"
                           id="model"
                           name="model"
                           class="form-control"
                           th:value="${car.model}"/>
                </div>
                <div class="form-group">
                    <label for="motor">Motor típusa</label>
                    <input type="number" step="0.01"
                           id="motor"
                           name="motor"
                           class="form-control"
                           th:value="${car.motor}"/>
                </div>
                <div class="form-group">
                    <label for="equipment">Felszereltség</label>
                    <input type="text"
                           id="equipment"
                           name="equipment"
                           class="form-control"
                           th:value="${car.equipment}"/>
                </div>
                <div class="form-group">
                    <label for="consumption">Fogyasztás</label>
                    <input type="number" step="0.01"
                           id="consumption"
                           name="consumption"
                           class="form-control"
                           th:value="${car.consumption}"/>
                </div>
                <div class="form-group">
                    <label for="price">Ár</label>
                    <input type="number"
                           id="price"
                           name="price"
                           class="form-control"
                           th:value="${car.price}"/>
                </div>

                <button class="btn btn-primary"
                        type="submit">Módosít
                </button>
                <a th:href="@{/car-toyota}"
                   class="btn btn-secondary"
                   type="submit">Mégsem</a>
            </form>
        </div>
    </div>

</div>

<script>

</script>

</body>
</html>
